<header class="header">
    <a href="/" class="logo">{{ site.title }}</a>
    <div class="navigation">
        <ul class="menu">
            <li class="menu__entry"><a href="https://github.com/{{ site.author.github }}" class="socialinks__entry" target="_blank"><i class="fa fa-github"></i></a>
            <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">home</a></li>
            <li class="menu__entry"><a href="{{ '/soundbot' | prepend: site.baseurl }}">soundbot</a></li>
            <li class="menu__entry"><a href="{{ '/library' | prepend: site.baseurl }}">library</a></li>
        </ul>
    </div>
</header>
